@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<!DOCTYPE html>
<html lang="en">
<head>
    @using Microsoft.AspNetCore.Authorization
    @inject IAuthorizationService AuthorizationService
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EasyCheckin | @ViewData["Title"]</title>
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@

    <link rel="shortcut icon" href="/tec-favicon-16x16.png" type="image/x-icon">

    @* Bootstrap CSS & Font Awesome 4.7 *@
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        <nav id="mainNavbar" class="navbar bg-primary navbar-dark navbar-expand-md p-0">
            <div id="mainNavBarContainer" class="container">
                <a class="navbar-brand" asp-area="" asp-page="/CheckIns">TEC</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navLinks" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navLinks" class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/CheckIns"><i class="fa fa-clock-o" aria-hidden="true"></i><span> Check Ins</span></a>
                            </li>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Settings"><i class="fa fa-cog" aria-hidden="true"></i> Indstillinger</a>
                            </li>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Students"><i class="fa fa-user" aria-hidden="true"></i> Studerende</a>
                            </li>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Insert"><i class="fa fa-users" aria-hidden="true"></i> Indsæt</a>
                            </li>
                        }

                        @if (User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Instructor"><i class="fa fa-users" aria-hidden="true"></i> Instruktør</a>
                            </li>
                        }
                        @* Det nede under skal bliver til Systemadministrator senere*@
                        @if (User.IsInRole("SystemAdministrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-page="/Administration"><i class="fa fa-users" aria-hidden="true"></i> Administration</a>
                            </li>
                        }
                    </ul>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Instructor") || User.IsInRole("SystemAdministrator"))
                    {
                        <div class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/SignOut"><i class="fa fa-sign-out" aria-hidden="true"></i>Log ud</a>
                        </div>
                    }
                    </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* jQuery first, then Popper.js, then Bootstrap JS *@
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
